%todo-card-button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--white);
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background: var(--gray-100);
  }
}

.todo-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.editing {
    outline: 2px solid var(--green-300);
  }
}

.todo-card-task-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .todo-card-task {
    display: flex;
    width: 100%;
    font-size: 0.75rem;
    align-items: flex-start;
    text-align: justify;
    gap: 1rem;

    input[type='checkbox']:checked {
      accent-color: var(--green-300);
    }

    input[type='text'] {
      outline: none;
      width: 100%;
    }

    .task-text {
      border: none;
    }

    .completed-task {
      text-decoration: line-through;
      color: var(--gray-700);
    }

    @media screen and (min-width: 576px) {
      font-size: 0.875rem;
    }
  }

  .todo-card-buttons-container {
    display: flex;
    gap: 1rem;

    .edit-button {
      @extend %todo-card-button;

      &:hover {
        color: var(--green-300);
      }
    }

    .delete-button {
      @extend %todo-card-button;

      &:hover {
        color: var(--red-400);
      }
    }
  }
}

.todo-card-task-date-container {
  display: flex;
  align-self: flex-end;
  gap: 1rem;

  .date-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;

    p {
      color: var(--gray-700);
    }

    @media screen and (min-width: 576px) {
      font-size: 0.875rem;
    }
  }
}
